
#root {
  background-color: #282c34;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: auto;
  height: auto;
}

/*NAVIGATION STYLES*/

.logo {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: gray;
}

.shopping-cart {
  margin-right: 20px;
  cursor: pointer;
}

/*HOMEPAGE STYLES*/

.main-page {
  text-align: center;
  font-size: large;
}

.buttons {
  margin-top: 150px;
}

.news {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*FOOTER*/

.footer {
  background-color: #212529;
  width: 100%;
  height: 150px;
  position: relative;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.social {
  font-size: 30px;
  display: flex;
  justify-content: space-around; 
}

.social a {
  color: white;
  text-decoration: none;
}

.social a:hover {
  color: gray;
}

.text-footer {
  color: white;
  font-size: 13px;
}

/*USERS ROUTE COMPONENT*/

.free-component {
  width: 100%;
  min-height: 75vh;
  text-align: center;
}

.users-container {
  width: 350px !important;
  border: 1px solid white;
  margin: 10px;
  border-radius: 30px;
  background-color: #212529;
}

.users-container:hover {
  background-color: #282c34;
  box-shadow: 5px 5px 5px 1px rgba(225, 255, 255, 0.2);
  transition: all 0.2s linear;
}

.users-list {
  width: 100%;
  list-style: none;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}


.users-info {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.user-avatar {
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50px;
  border: 2px solid pink;
}

/*PRIVATE ROUTE - PRODUCTS*/

.auth-page {
  width: 100%;
  min-height: 75vh;
  font-size: 0.9rem;
}

.auth-page-container {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
}

.auth-sidebar {
  white-space: nowrap;
  font-size: 11px;
}


.auth-products {
  display: flex;
  min-width: 100%;
  margin: 10px;
  background-color: #212529;
}

.auth-products:hover {
  background-color: #5c6069;
  cursor: pointer;
}

.product-img {
  float: left;
  width: 200px;
  height: 200px;
  background-size: cover;
}

.auth-product {
  line-height: normal;
  margin: 2px;
  white-space: break-spaces;
}

/*LOGIN FORM*/

.login {
  background-color: #282c34;
  width: auto;
  height: 72vh;
  padding: 20px;
  margin: 20px;
}

/*REGISTER FORM*/

.register {
  background-color: #282c34;
  width: auto;
  height: 72vh;
  padding: 20px;
  margin: 20px;
}

/*RESPONSIVE MEDIA QUERYS*/

@media (max-width: 1075px) {
  .navbar-title-brand {
    display: none;
  }
  
  .auth-sidebar {
    display: none;
  }

  .product-img {
    width: 130px;
    height: 130px;
    text-align: center;
  }

  .auth-products {
    display: flex;
    flex-direction: column;
    padding: 1px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .prueba {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
}

