#root{
  background-color: #282c34;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: auto;
  height: auto;
}

.main-page {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  font-size: large;
}

.buttons {
  margin-top: 150px;
}

.news {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth {
  font-weight: bold;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

